<%- include('../partials/header') %>
  <div class="starter-template text-center py-5 px-3">
    <h1>Tabuada número <%= num %>
    </h1>
    <p class="lead">Gere tabuadas de números de 1 a 100.</p>
    <table class="table table-striped table-bordered table-hover">
      <% for(let i=0; i<=100; i++){ %>
        <tr>
          <td>
            <%= num %>
          </td>
          <td>&nbsp; X &nbsp;</td>
          <td>
            <%= i %>
          </td>
          <td>&nbsp; = &nbsp;</td>
          <td>
            <%= (num*i) %>
          </td>
        </tr>
        <% } %>
    </table>
  </div>
  <%- include('../partials/footer') %>